<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <form>
            <div class="form-group">
                <label for="nome">Nome:</label>
                <input class="form-control" id="nome" placeholder="Ex. Maria Jorge" [(ngModel)]="nomeInput" name="nomePessoa">
            </div>
            <div class="form-group">
                <label for="texto">Texto:</label>
                <textarea rows="3" class="form-control" id="texto" placeholder="Escreva aqui o que está pensando..." [(ngModel)]="textoInput"
                    name="texto">
              </textarea>
            </div>
            <button type="submit" class="btn btn-secondary" (click)="submit($event)">
                Enviar
            </button>
        </form>
    </div>
</div>